<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/styles.css">
    <title>401</title>
</head>
<body>
    <h1>401 Forbidden</h1>
    <h1>You're not miku!</h1>
    <h2>There's nothing on this page that isn't elsewhere</h2>
    <p>Scram!</p>
    <img src="images/stop.jpg" alt="person in a stop sign costume telling you to stop, not miku, i know, devestating" style="height: 700px;">
    <p></p>
    <a href="/">Go Home</a>
    <!-- Here's part 1 of 3 for one of the flags! The next part is somewhere stylish. -->
    <!-- saint{m1ku_1nv3st1 -->
</body>
</html>
