<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/main.js"></script> 
    <link rel="stylesheet" href="css/styles.css">
    {% block title %}
    {% endblock %}
</head>
<body>
    <!-- Here's part 1 of 3 for one of the flags! The next part is somewhere stylish. -->
    <!-- saint{m1ku_1nv3st1 -->
    {% block body %}
        {# Content will be here #}
    {% endblock %}
</body>
</html>
