<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/main.js"></script> 
    <link rel="stylesheet" href="css/styles.css">
    <title>Miku</title>
</head>
<body>
    <h1>I'm hatsune miku! Creator of Minecraft!</h1>
    <h2>I've Hidden 4 flags around this site! Try find them all!</h2>
    <img src="images/miku_hello.png" alt="omg its hatsune miku creator of minecraft" onclick="miku_alert()" style="height: 600px;">
    <p></p>
    <a href="/admin">Log in</a>
    <!-- Here's part 1 of 3 for one of the flags! The next part is somewhere stylish. -->
    <!-- saint{m1ku_1nv3st1 -->
</body>
</html>

