<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Miku</title>
</head>
<body>
    <h1>Waow!</h1>
    <h2>You found robots.txt!</h2>
    <p>robots.txt tells unwanted web crawlers to not visit certain pages of a site</p>
    <p>Here's your flag:</p>
    <p>saint{1_F0UND_TH3_R0B07S!}</p>
    <img src="images/miku_investigate.png" alt="wow miku is looking">

    <!-- Here's part 1 of 3 for one of the flags! The next part is somewhere stylish. -->
    <!-- saint{m1ku_1nv3st1 -->
</body>
</html>
